
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#cexpand {
    position: absolute;
    z-index: 999;
    padding: 2px 2px 2px 0;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}
#cexpand .filter {
    padding: 10px;
    background: #16284c;
    border-right: 2px solid #302980;
    font-weight: bold;
    box-shadow: 1px 0 3px #0a1929
}
#detailpanel {
    position: absolute;
    z-index: 999;
    padding: 2px 2px 2px 0;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}
#detailpanel .filter {
    padding: 10px;
    background: #16284c;
    border-right: 2px solid #302980;
    font-weight: bold;
    box-shadow: 1px 0 3px #0a1929
}
#Layers {
    position: absolute;
    z-index: 999;
    padding: 2px 2px 2px 0;
    top: 10px;
    left: 10px;
    border-radius: 3px;
}
#Layers .filter {
    padding: 10px;
    background: #16284c;
    border-right: 2px solid #302980;
    font-weight: bold;
    box-shadow: 1px 0 3px #0a1929
}
.control {
    margin: 0;
    padding: 0;
    z-index: 990;
    width: 59px;
    background: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(108, 108, 108, 0.3);
    background-size: cover;
    background-clip: padding-box;
    padding: 3px;
    text-align: center;
}

.control li img {
    width: 30px;
}

.control li span {
    font-size: 15px;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 28px;
    font-weight: 600;
}

.control li:first-child {
    padding-bottom: 5px;
}

.control li:not(:first-child) {
    padding: 5px 0;
    border-top: 0.5px solid #efefef;
}

.base_select_group {
    float: left;
    display: flex;
    width: 100%;
    margin: 30px 0;
    padding: 0;
}

.base_select_group li {
    flex: 1;
    text-align: center;

}

.base_select_group li img {
    border: 2px solid #FFFFFF;
}

.base_select_group li.active img {
    border: 2px solid #10AFFF;
}

.base_select_group li.active span {
    color: #10AFFF;
}

.base_select_group li span {
    display: block;
    font-size: 14px;
}

#layer-content .item {
    float: left;
    width: 100%;
}

#baseMapSel {
    height: 120px;
}

#layer-content .item > label {
    display: block;
    padding: 10px 20px;
    background: #EAECEC;
    color: #007ac1;
    font-weight: bold;
    font-size: 16px;
}

.layergroup .mui-input-row {
    font-size: 14px;
    height: 50px;
}

.layergroup .mui-input-row input {
    top: 10px;
}

.layergroup .mui-input-row .icon {
    padding: 2px;
    font-size: 1.8em;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    color: #fff;
    margin-right: 1rem;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #10AFFF;
}

.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {
    color: #eaecec;
}

#search {
    position: absolute;
    z-index: 999;
    padding: 2px 2px 2px 0;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 350px;
}

#search .filter {
    padding: 10px;
    background: #16284c;
    border-right: 2px solid #302980;
    font-weight: bold;
    box-shadow: 1px 0 3px #0a1929
}

.label, .labelForever {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1em;
    width: 100px;
    z-index: 881 !important;
}

.label.project div {
    font-size: 1.3em;
    top: 15px;
    color: #FF0000;
}

.labelForever div {
    top: -10px !important;
    color: #FF0000 !important;
}

.label div, .labelForever div {
    position: relative;
    top: 10px;
    left: -50%;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.85);
}

.esri-feature-content-wrapper {
    border-radius: 3px;
}

.esri-feature-content {
    padding: 3px;
    margin: 0;

}

.esri-feature-content .project .header {
    display: block;
    font-size: 1.3em;
    margin: 3px 0 8px 0;
    font-weight: bold;
    empty-cells: 1.2em;
}

.esri-feature-content .project .header a {
    text-decoration: underline;
    margin-left: 10px;
    font-size: 0.8em;
}

.esri-feature-content .content span {
    padding: 2px 4px;
    margin-right: 5px;
    color: #FFFFFF;
    border-radius: 3px;
    font-weight: 600;
}

.esri-feature-content .footer {
    padding: 5px;
    margin: 10px 0 3px 0 !important;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 0px 1px #cacaca;
    min-height: 60px;
}

.esri-feature-content .footer-tool {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #DDDDDD;
}

.esri-feature-content .footer-tool li {
    padding: 8px 3px 3px 3px;
    flex: 1;
    text-align: center;
    font-size: 0.75rem !important;
    color: #777777;
}

.esri-feature-content .footer-tool li .icon {
    vertical-align: text-bottom;
}

.esri-popup__action {
    width: 100px !important;
}

.esri-view-width-less-than-medium .esri-popup__action-text {
    display: block !important;
    margin-left: 5px;
}

.footer table {
    width: 100% !important;
}

.footer table th,
.footer table td {
    padding: 10px;
    border: 1px dotted #A7A4A4;
}

.footer table th {
    color: #0e0e0e;
}


.profession {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    display: inline-block;
    height: auto;
    margin-right: 4px;
    padding: 1px 10px;
    line-height: 20px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: default;
    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.78, .14, .15, .86);
    transition: all .3s cubic-bezier(.78, .14, .15, .86)
}

.profession:first-child {
    color: #eb2f96;
    background: #fff0f6;
    border-color: #ffadd2
}

.profession:last-child {
    color: #13c2c2;
    background: #e6fffb;
    border-color: #87e8de
}

.profession.length {
    background: #4CD964;
}

.filter-content {
    margin: 10px 0;
    display: block;
}

.filter-group {
    margin: 10px 5px;
}

.filter-group-header {
    color: rgba(4, 132, 243, 0.86);
    border-left: 5px solid rgb(0, 159, 255);
    padding-left: 15px;
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
}

.filter-group-content li {
    flex: 0 1 48%;
    float: left;
    text-align: center;
    border: 1px solid #dcf0ff;
    margin: 4px 2px;
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    color: #2196F3;
}

.filter-group-content ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 5px;
    width: 100%;
}

.filter-group-content li.active {
    border: 1px solid #fdb464;
    background: rgba(248, 172, 89, 0.1);
    color: #FF5722;
}

.filter-group-content li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0px;
    border-style: solid;
    border-color: transparent #ffaf58 transparent transparent;
    position: absolute;
    top: -4px;
    right: 0px;
    transform: rotate(135deg);
}

.search-image {
    margin-top: 10px;
    margin-right: 10px;
}

.search-title {
    font-size: 10px;
    line-height: 2;
    font-weight: bold;
}

.filterBtn {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 9999999;
}

.filterBtn .mui-btn {
    width: 100%;
    padding: 8px 5px;
    margin: 0px;
    border-radius: 0px;
    float: left;
    font-weight: bold;
    opacity: 1;
}

.filter-group .mui-table-view-cell img {
    height: 24px;
    vertical-align: middle;
    margin: 2px 10px;
}

.filter-group .mui-table-view-cell label {
    font-size: 14px;
}

.emp {
    font-weight: bold;
    color: #eb1608 !important;
    padding: 0 2px 0 0;
}

.filter-c {
    font-size: 14px;
    color: #6b6b6b;
}

.active-layer {
    float: left;
    margin-left: 10px;
    color: #000000;
}


#latlng {
    position: absolute;
    z-index: 999;
    bottom: 3px;
    right: 10px;
    height: 48px;
    width: 350px;
    background: #0c0c0c4f;
    text-align: center;
    line-height: 44px;
    border-radius: 3px;
    font-size: 16px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    padding: 3px 20px;
    color: #fffcfc;
    font-weight: 500;
}

#center {
    position: absolute;
    z-index: 999;
    bottom: 50%;
    left: 50%;
    font-size: 26px;
    color: red;
    height: 0;
    width: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-bottom: 60px;
}

#latlng span {
    color: #00ff15;
    font-weight: bold;
    text-shadow: 0 0 3px #000;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: auto 0px Highlight !important;
    outline: auto 0px -webkit-focus-ring-color !important;
}

#statis {
    position: absolute;
    z-index: 999;
    top: 10px;
    right: 80px;
    height: 90px;
    width: 140px;
    background: #ffffffbf;
    border-radius: 5px;
    padding: 5px 0;
    /* border: 2px solid #ffffff; */
    box-shadow: 0 0 4px #bbbbbb;
}

span.statis-label {
    display: block;
    color: #1f1e1e;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    text-shadow: 0 0 3px white;
    font-weight: 800;
    border-bottom: 1px solid #0000001c;
}

span.statis-num {
    display: block;
    color: #00ff21;
    text-align: center;
    line-height: 46px;
    font-size: 34px;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}

.mui-input-row label {
    font-weight: 500;
    color: #444;
    font-size: 14px;
}

.layui-anim-lr {
    left: 10px !important;
    top: 60px !important;
    width: 350px !important;
    bottom: 60px !important;
}

.layui-anim-lr .layui-layer-content {
    height: 100%;
}


.layui-anim-lr .layui-layer-wrap {
    height: calc(100% - 6px);
}

.layui-anim-lr .mui-card {
    height: 100%;
}

.layui-anim-lr {
    -webkit-animation-name: layui-lr;
    animation-name: layui-lr
}

.layui-anim-lr.layer-anim-close {
    -webkit-animation-name: layui-lr-close;
    animation-name: layui-lr-close
}

.layui-anim-rl.layer-anim-close {
    -webkit-animation-name: layui-rl-close;
    animation-name: layui-rl-close
}

@keyframes layui-lr {
    from {
        transform: translate3d(-100%, 0, 0)
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes layui-lr-close {
    from {
        transform: translate3d(0%, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes layui-rl-close {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        transform: translate3d(100%, 0, 0)
    }
}

.esri-legend__layer-table--size-ramp .esri-legend__layer-row {
    display: inline-block !important;
    margin-right: 10px;
    width: calc(50% - 10px);
}

.esri-widget__heading.esri-legend__service-label {
    font-size: 16px !important;
}

.esri-icon-layer-list {
    display: none !important;
}

.esri-expand__panel .esri-widget--button[title ="tuli"] {
    background-image: url("../img/map/legend.png") !important;
    background-size: cover;
}

.infowindow {
    margin: 0;
    position: relative;
}

.infowindow .window {
    border: 2px solid #1890ff;
    background: #ffffffe6;
    border-radius: 10px;
    padding: 8px;
    text-shadow: none;
    opacity: 0.9;
    color: var(--mcdblue);
    transform: scale(0.75);
    transition: .2s;
}

.infowindow .window:hover {
    transform: scale(1);
}

.infowindow .window .title {
    height: 18px;
    line-height: 18px;
    text-align: center;
    transform: none;
    font-size: 16px;
    color: #1890ff;
    font-weight: bold;
    margin-bottom: 1px;
}

.infowindow .window .title + div {
    display: flex;
    transform: translateY(2px);
}

.infowindow .window .title + div > div:first-child {
    flex: auto;
    display: flex;
}

.infowindow .window .title + div > div:first-child div:first-child {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 20px;
    line-height: 1.2;
    background: #1890ff;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transform: scale(0.9);
    transform-origin: left center;
    color: white;
}

.infowindow .window .title + div > div:first-child div:last-child {
    font-size: 30px;
    color: var(--mcdblue);
    line-height: 1;
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.infowindow .window .title + div > div:last-child {
    color: #4F9B04;
    flex: auto;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infowindow .window .title + div > div:last-child > div:last-child {
    font-size: 17px;
}

.esri-widget table tr:nth-child(odd) {
    background-color: rgba(76, 76, 76, 0.1);
}

.esri-widget table tr th {
    width: 50%;
    text-align: left;
    border-right: 3px solid rgba(0, 0, 0, 0.05);
}

.esri-widget table tr td, .esri-widget table tr th {
    padding: .5em .7em;
    -ms-word-break: break-word;
    word-break: break-word;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
}

#map .esri-widget table {
    width: 100% !important;
    table-layout: fixed;
}

#map .esri-widget table:last-of-type {
    margin-top: 8px;
}

#map .esri-popup {
    border: none;
}

#map .esri-popup__main-container {
    border: 1px solid #e4e4e4;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 375px;
    border-radius: 7px;
}

#map .esri-popup__header {
    background-color: transparent;
    color: #0B74C9;
    font-weight: bold;
}

#map .esri-popup__content {
    margin: 0 15px 40px !important;
}

#map .esri-popup__content .btnArea {
    bottom: 10px;
    position: absolute;
}

#map .esri-popup__content button {
    background-color: transparent;
    color: #0071D9;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 3px;
    line-height: 21px; /*padding:0 5px;*/
}

#map .esri-popup__content button:hover, #map .esri-popup__content button:hover a {
    color: #ff5200;
}

#map .esri-popup__header-buttons .esri-icon-close {
    color: #959595;
}

#map .esri-popup__header-buttons .esri-icon-close:hover {
    color: #555555;
}

#map .esri-ui-bottom-left {
    left: 26px;
}

#map .esri-popup--is-docked {
    margin: 60px;
}

#map .esri-popup--is-docked .esri-popup__main-container {
    border: 1px solid #ccc;
}

/*esri popup*/
.esri-popup--top-aligned .esri-popup__pointer-direction, .esri-popup--bottom-aligned .esri-popup__pointer-direction {
    transform: scale(1, 1) rotate(45deg) !important;
    height: 18px;
    top: -9px !important;
    width: 18px;
    z-index: 1;
}

.esri-popup--top-aligned .esri-popup__pointer-direction::before, .esri-popup--bottom-aligned .esri-popup__pointer-direction::before {
    content: "";
    background-color: #fff;
    height: 20px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 20px;
}

.esri-popup__position-container {
    margin-bottom: -5px;
}

.esri-popup--content-visible .esri-popup__content span {
    color: #ccc;
}

.esri-popup--shadow {
    box-shadow: none !important;
    border: none;
}

.esri-popup__position-container::before {
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.47), 0 0 15px rgba(0, 0, 0, 0.47);
    content: "";
    height: 100%;
    position: absolute;
    top: 5px;
    transform: skewX(-45deg) translate(0px, 0px) scaleY(0.5);
    transform-origin: left bottom 0;
    width: 100%;
}

.esri-popup__pointer-direction.esri-popup--shadow {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08) !important;
    border: 1px solid #e4e4e4;
}

.esri-popup--top-aligned .esri-popup__pointer {
    margin: 0 0 0 -9px !important;
}

.esri-popup--is-docked.esri-popup__position-container {
    border: none;
}

.esri-popup--is-docked.esri-popup__position-container::before {
    display: none;
}

.esri-popup {
    opacity: 0.9;
    filter: alpha(opacity=90);
}