<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnsl.sys.modular.system.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hnsl.sys.modular.system.entity.SysDept">
        <id column="dept_id" property="deptId"/>
        <result column="ad_code" property="adCode"/>
        <result column="dept_type" property="deptType"/>
        <result column="is_leaf" property="isLeaf"/>
        <result column="pid" property="pid"/>
        <result column="pids" property="pids"/>
        <result column="simple_name" property="simpleName"/>
        <result column="full_name" property="fullName"/>
        <result column="description" property="description"/>
        <result column="version" property="version"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id
        AS "deptId", pid AS "pid", pids AS "pids", simple_name AS "simpleName", full_name AS "fullName", description AS "description", version AS "version", sort AS "sort", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser",ad_code as adCode,dept_type as "deptType",is_leaf as isLeaf
    </sql>

    <select id="layuiTree" resultType="cn.hnsl.base.pojo.node.LayuiTreeNode">
        select dept_id     AS id,
               pid         as "pid",
               simple_name as title,
               (
                   CASE
                       WHEN (pid = 0 OR pid IS NULL) THEN
                           'false'
                       ELSE
                           'false'
                       END
                   )       as "spread"
        from sys_dept
        <where>
            <if test="deptType!=null and deptType!=''">
                dept_type = #{deptType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="tree" resultType="cn.hnsl.base.pojo.node.ZTreeNode">
        select dept_id AS id, pid as "pId", simple_name as name,
        (
        CASE
        WHEN (pid = 0 OR pid IS NULL) THEN
        'true'
        ELSE
        'false'
        END
        ) as "open" from sys_dept where 1=1
    </select>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_dept
        <where>
            <if test="condition != null and condition != ''">
                simple_name like '%'||#{condition,jdbcType=VARCHAR}||'%' or full_name like '%'||#{condition,jdbcType=VARCHAR}||'%'
            </if>
            <if test="deptId != null and deptId != ''">
                and (dept_id = #{deptId} or pid = #{deptId})
            </if>
        </where>

        order by sort ASC
    </select>

    <select id="treeviewNodes" resultType="cn.hnsl.base.pojo.node.TreeviewNode">
        select dept_id AS tags, pid as "parentId", simple_name as text
        from sys_dept
    </select>

    <select id="likePids" resultType="cn.hnsl.sys.modular.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept where 1 = 1
        <if test="deptId != null and deptId != ''">
            and pids LIKE '%$['||#{deptId,jdbcType=VARCHAR}||'$]%' escape '$'
        </if>
    </select>

    <select id="getParentDeptByAdCode" resultType="cn.hnsl.sys.modular.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept where ad_code = #{upAdCode} and type = 1
    </select>
    <select id="getTownParentDeptByAdCode" resultType="cn.hnsl.sys.modular.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept where ad_code = #{upAdCode} and type = 2
    </select>
    <select id="getDeptByType" resultType="cn.hnsl.sys.modular.system.entity.SysDept">
        select
        <include refid="Base_Column_List"/>
        from sys_dept where ad_code = #{adCode} and type = #{type}
    </select>

</mapper>
