<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnsl.sys.modular.system.mapper.SysNewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hnsl.sys.modular.system.entity.SysNews">
        <id column="news_id" property="newsId" />
        <result column="news_title" property="newsTitle" />
        <result column="news_type" property="newsType" />
        <result column="news_thumb" property="newsThumb" />
        <result column="news_summary" property="newsSummary" />
        <result column="main_file_id" property="mainFileId" />
        <result column="att_file_id" property="attFileId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        news_id AS "newsId", news_title AS "newsTitle", news_type AS "newsType", news_thumb AS "newsThumb", news_summary AS "newsSummary", main_file_id AS "mainFileId", att_file_id AS "attFileId", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser"
    </sql>

    <sql id="Base_Column_List_T">
        t.news_id AS "newsId", t.news_title AS "newsTitle", t.news_type AS "newsType", t.news_thumb AS "newsThumb", t.news_summary AS "newsSummary", t.main_file_id AS "mainFileId", t.att_file_id AS "attFileId", t.create_time AS "createTime", t.update_time AS "updateTime", t.create_user AS "createUser", t.update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.hnsl.sys.modular.system.model.result.SysNewsResult" parameterType="cn.hnsl.sys.modular.system.model.params.SysNewsParam">
        select
        <include refid="Base_Column_List"/>
        from sys_news where 1 = 1
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.hnsl.sys.modular.system.model.params.SysNewsParam">
        select
        <include refid="Base_Column_List"/>
        from sys_news where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.hnsl.sys.modular.system.model.result.SysNewsResult" parameterType="cn.hnsl.sys.modular.system.model.params.SysNewsParam">
        select
        <include refid="Base_Column_List"/>
        from sys_news where 1 = 1
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.hnsl.sys.modular.system.model.params.SysNewsParam">
        select
        <include refid="Base_Column_List"/>
        from sys_news where 1 = 1
    </select>

</mapper>
